<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		<link href="css/mui.css" rel="stylesheet" />
		<!-- 自定义页面样式 -->
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<!-- 时间选择器控间样式 -->
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
		
	</head>


	<body>
		<div id="main-content">
			
		
		<!-- 头部区域 -->
		<header class="mui-bar mui-bar-nav">
			<a class=" mui-icon mui-icon-closeempty  mui-pull-left"></a>
			<h1 class="mui-title">房屋出租</h1>
			
			<!-- 右侧加号图标 -->
			<a id="add" href="javascript:;" class="right-add">
				<span  class="mui-icon mui-icon-plusempty"></span>			
			</a>
			<!-- 右侧搜索图标 -->
			<a href="#popover" id="openPopover" class="right-search">
				<span  class="mui-icon mui-icon-search"></span>			
			</a>			
		</header>
		<!-- 弹出搜索表单区内容 -->
		<div id="popover-search-form" class="mui-popover condition-serach-form" >
		  <form class="mui-input-group">
		  	<div class="mui-input-row">
		  		<label>关&nbsp;&nbsp;键&nbsp;&nbsp;词</label>
		  		<input type="text" class="mui-input-clear" placeholder="请输入房屋关键词">
		  	</div>
			<div class="mui-input-row">
		  		<label>月&nbsp;&nbsp;租&nbsp;&nbsp;金</label>
		  		<input type="number" class="mui-input-clear" placeholder="最低租金">
		  		<input type="number" class="mui-input-clear" placeholder="最高租金">
		  	</div>
			<div class="mui-input-row">
		  		<label>发布时间</label>
		  		<input type="text" class="mui-input-clear date-picker" placeholder="起始时间">
		  		<input type="text" class="mui-input-clear date-picker" placeholder="结束时间">
		  	</div>
			<div class="mui-input-row" style="display: flex;justify-content: space-around;">
		  		<button type="button" class="mui-btn mui-btn-blue form-btn">搜索</button>
		  		<button type="button" class="mui-btn mui-btn-grey form-btn">重置</button>
		  	</div>
		  </form>
		</div>				<!-- 主体内容占位区，等待渲染 -->
		<div id="content" class="mui-content">			
			<div v-cloak @tap="toDetail(index,$event)" class="mui-card" v-for="(house, index) in houseList" class="mui-card" :data-index="index">
				<div class="mui-card-header" style="font-size: 20px;"><span>{{house.publisher}}</span><p>发布于 {{house.publish_time}}</p></div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">		
						<img v-if = "house.imglist && house.imglist.length>0" :src="house.imglist[0]" style="width: 100%;">						
						<span   v-for="(tag,tag_index) in house.taglist" class="mui-badge" :class="tagStyle(tag_index)">{{tag}}</span>								
					</div>
				</div>
				<div class="mui-card-footer" style="font-size: 20px;">
					<label>月租金:&nbsp;<span style="color: red;">￥{{house.price_monthly}}</span></label>				
				</div>
			</div>		
		</div>
		</div>
		
		
		
		
		<!-- mui核心库 -->
		<script src="js/mui.js"></script>		
		<!-- 时间选择器控间插件 -->
		<script src="js/mui.picker.min.js"></script>		
		<!-- 自定义时间选择器控件插件 -->
		<script src="js/my-date-picker.js" type="text/javascript" charset="utf-8"></script>
		<!-- 自定义公共api -->
		<script src="js/commos-api.js" type="text/javascript" charset="utf-8"></script>
		<!-- vue核心 -->
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		
		
		<script type="text/javascript">
			
			
			mui.init()			
			mui.plusReady(function(){								
				var vm = new Vue({
					el:'#main-content',
					data:{
						houseList:  [  //展示的房屋列表
							{
								houseid: 1,
								publisher:'李先生',
								publisher_phone: '13433895627',
								publish_time:'2019-10-06',
								price_monthly: 998,
								house_address:'武汉市洪山区南湖幸福湾公园',
								house_detail:'房屋位于华师附小旁，二室一厅，三楼独立公寓，欢迎有需要的朋友与我联系',
								imglist:['img/01.jpg','img/02.jpg','img/03.jpg','img/04.jpg'],
								taglist:['朝阳','独立卫生间','免费停车场','独立厨房','精装修','交通方便']
							},
							{
								houseid: 2,
								publisher:'张先生',
								publisher_phone: '13433355627',
								publish_time:'2020-08-06',
								price_monthly:1299,
								house_address:'武汉市洪山区珞狮路幸福小区b座311室',
								house_detail:'房屋位于华师附小旁，二室一厅，三楼独立公寓，欢迎有需要的朋友与我联系',
								imglist:['img/02.jpg','img/03.jpg','img/04.jpg'],
								taglist:['朝阳','独立卫生间','免费停车场','独立厨房','精装修','交通方便']
							},
							{
							houseid: 3,
							publisher:'张先生',
							publisher_phone: '15868895627',
							publish_time:'2020-08-20',
							price_monthly:1999,
							house_address:'武汉市洪山区珞狮路幸福小区b座311室',
							house_detail:'房屋位于华师附小旁，二室一厅，三楼独立公寓，欢迎有需要的朋友与我联系',
							imglist:[],
							taglist:['朝阳','独立卫生间','免费停车场','独立厨房','精装修','交通方便']
						}							
						]
					},
					methods:{
						tagStyle(tag_index){ //根据标签索引计算标签样式的方法
							let r = tag_index%5;
							let class_style = ''
							switch(r){
								case 0: class_style='mui-badge-purple';break;
								case 1: class_style='mui-badge-blue';break;
								case 2: class_style='mui-badge-green';break;
								case 3: class_style='mui-badge-danger';break;
								case 4: class_style='mui-badge-primary';break;								
							}
							return class_style;
						},
						toDetail(house_index,event){ //每个mui-card被点击时跳转详情页方法
							//打开房屋详情页面
							commonAPI.openWindow(mui,'renting/house.html',{house: this.houseList[house_index]})
						}
						
					
					},
					mounted() {
						/*1、点击搜索图标时，显示搜索表单；点击遮罩部分时会自动隐藏搜索表单*/
						document.getElementById('openPopover').addEventListener('tap',function(){
							mui('#popover-search-form').popover('show')
						})
						/*2、获取表单中所有时间选择器控件	，用自定义函数绑定相应事件回调函数，点击该元素弹出时间选择器*/
						bindingDataPicker('.date-picker',mui)
						/*3、点击头部中加号时，打开添加房源窗口*/
						document.getElementById('add').addEventListener('tap',function(){				
							commonAPI.openWindow(mui,'renting/newhouse.html',null)					
						})	
					}
				})			
			})
		
		
		</script>
	</body>

</html>
