<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		<link href="css/mui.css" rel="stylesheet" />
		<!-- 自定义页面样式 -->
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<!-- 时间选择器控间样式 -->
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
		
	</head>


	<body>
		<!-- mui核心库 -->
		<script src="js/mui.js"></script>		
		<!-- 时间选择器控间插件 -->
		<script src="js/mui.picker.min.js"></script>
		<!-- 数据模板插件 -->
		<script src="js/template-web.js"></script>
		<!-- jquery -->
		<script src="js/jquery-1.11.3/jquery-1.11.3.js" type="text/javascript" charset="utf-8"></script>
		<!-- 自定义时间选择器控件插件 -->
		<script src="js/my-date-picker.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
			// (function($){
			// 	$.init()				
			// })(mui);
			
			mui.init({
	//该属性禁用了当前页面的返回功能，但是还是有双击退出app的功能
	keyEventBind: {
		backbutton: false  //关闭back按键监听
	}
})			
			mui.plusReady(function(){
				
				
				/*第一步：初始化页面主体内容*/				
				//模板数据，应该先从查询表单获取查询参数，再从服务器向后台请求，请求成功之后渲染到页面
				var templateData = {
					list: [
						{
							houseid: 1,
							publisher:'李先生',
							publisher_phone: '13433895627',
							publish_time:'2019-10-06',
							price_monthly: 998,
							house_address:'武汉市洪山区南湖幸福湾公园',
							house_detail:'房屋位于华师附小旁，二室一厅，三楼独立公寓，欢迎有需要的朋友与我联系',
							imglist:['img/01.jpg','img/02.jpg','img/03.jpg','img/04.jpg'],
							taglist:['朝阳','独立卫生间','免费停车场','独立厨房','精装修','交通方便']
						},
						{
							houseid: 2,
							publisher:'张先生',
							publisher_phone: '13433355627',
							publish_time:'2020-08-06',
							price_monthly:1299,
							house_address:'武汉市洪山区珞狮路幸福小区b座311室',
							house_detail:'房屋位于华师附小旁，二室一厅，三楼独立公寓，欢迎有需要的朋友与我联系',
							imglist:['img/02.jpg','img/03.jpg','img/04.jpg'],
							taglist:['朝阳','独立卫生间','免费停车场','独立厨房','精装修','交通方便']
						},
						{
							houseid: 3,
							publisher:'张先生',
							publisher_phone: '15868895627',
							publish_time:'2020-08-20',
							price_monthly:1999,
							house_address:'武汉市洪山区珞狮路幸福小区b座311室',
							house_detail:'房屋位于华师附小旁，二室一厅，三楼独立公寓，欢迎有需要的朋友与我联系',
							imglist:[],
							taglist:['朝阳','独立卫生间','免费停车场','独立厨房','精装修','交通方便']
						}							
					]
				}					
				var html = template('test1', templateData)
				$('#content').html(html)				
				//给每个li注册轻击事件，打开房屋详情页面						
				mui('#content').on('tap','.mui-card',function(){
					//获取房屋对象在list中的索引,也可以获取房屋id，从服务器重新请求数据。
					var house_index = this.getAttribute('data-index')										
					//打开房屋详情页面
					mui.openWindow({
					    url:'renting/house.html',
					    id:'renting/house.html',
					    /*
						styles:{
					      top:newpage-top-position,//新页面顶部位置
					      bottom:newage-bottom-position,//新页面底部位置
					      width:newpage-width,//新页面宽度，默认为100%
					      height:newpage-height//新页面高度，默认为100%
					      
					    },
						*/
					    extras:{
					      house: templateData.list[house_index] //自定义扩展参数，可以用来处理页面间传值
					    },
					    createNew:false,//是否重复创建同样id的webview，默认为false:不重复创建，直接显示
					    show:{
					      autoShow:true,//页面loaded事件发生后自动显示，默认为true
					      aniShow:"slide-in-right",//页面显示动画，默认为”slide-in-right“；
					      duration:100 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
					    },
					    waiting:{
					      autoShow:true,//自动显示等待框，默认为true
					      title:'正在加载...',//等待对话框上显示的提示内容
					      /*
						  options:{
					        width:waiting-dialog-widht,//等待框背景区域宽度，默认根据内容自动计算合适宽度
					        height:waiting-dialog-height//等待框背景区域高度，默认根据内容自动计算合适高度
					       
					      }
						  */
					    }
					})
				})
																															
				/*第二步：点击搜索图标时，显示搜索表单；点击遮罩部分时会自动隐藏搜索表单*/
				document.getElementById('openPopover').addEventListener('tap',function(){
					mui('#popover-search-form').popover('show')
				})
				
				//第三步：获取表单中所有时间选择器控件	，用自定义函数绑定相应事件回调函数，点击该元素弹出时间选择器
				bindingDataPicker('.date-picker',mui)			
				
				/*第四步：点击头部中加号时，打开添加房源窗口*/
				document.getElementById('add').addEventListener('tap',function(){
					mui.openWindow({
					    url:'renting/newhouse.html',
					    id:'renting/newhouse.html',
					   
					   // extras:{},
					    createNew:false,//是否重复创建同样id的webview，默认为false:不重复创建，直接显示
					    show:{
					      autoShow:true,//页面loaded事件发生后自动显示，默认为true
					      aniShow:'slide-in-right',//页面显示动画，默认为”slide-in-right“；
					      duration:100//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
					    },
					    waiting:{
					      autoShow:true,//自动显示等待框，默认为true
					      title:'正在加载...',//等待对话框上显示的提示内容					      
					    }
					})
				})				
			
			
			})
		</script>
		<!-- 头部区域 -->
		<header class="mui-bar mui-bar-nav">
			<a class=" mui-icon mui-icon-closeempty  mui-pull-left"></a>
			<h1 class="mui-title">房屋出租</h1>
			
			<!-- 右侧加号图标 -->
			<a id="add" href="javascript:;" class="right-add">
				<span  class="mui-icon mui-icon-plusempty"></span>			
			</a>
			<!-- 右侧搜索图标 -->
			<a href="#popover" id="openPopover" class="right-search">
				<span  class="mui-icon mui-icon-search"></span>			
			</a>			
		</header>
		<!-- 弹出搜索表单区内容 -->
		<div id="popover-search-form" class="mui-popover condition-serach-form" >
		  <form class="mui-input-group">
		  	<div class="mui-input-row">
		  		<label>关&nbsp;&nbsp;键&nbsp;&nbsp;词</label>
		  		<input type="text" class="mui-input-clear" placeholder="请输入房屋关键词">
		  	</div>
			<div class="mui-input-row">
		  		<label>月&nbsp;&nbsp;租&nbsp;&nbsp;金</label>
		  		<input type="number" class="mui-input-clear" placeholder="最低租金">
		  		<input type="number" class="mui-input-clear" placeholder="最高租金">
		  	</div>
			<div class="mui-input-row">
		  		<label>发布时间</label>
		  		<input type="text" class="mui-input-clear date-picker" placeholder="起始时间">
		  		<input type="text" class="mui-input-clear date-picker" placeholder="结束时间">
		  	</div>
			<div class="mui-input-row" style="display: flex;justify-content: space-around;">
		  		<button type="button" class="mui-btn mui-btn-blue form-btn">搜索</button>
		  		<button type="button" class="mui-btn mui-btn-grey form-btn">重置</button>
		  	</div>
		  </form>
		</div>
		<!-- 主体内容占位区，等待渲染 -->
		<div id="content" class="mui-content">			
			<!-- <div class="mui-card" data-houseid="1">
				<div class="mui-card-header" style="font-size: 20px;"><span>李先生</span><p>发布于 2020-05-05</p></div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<img src="img/01.jpg" style="width: 100%;">												
					<span class="mui-badge mui-badge-purple">朝阳</span>
						<span class="mui-badge mui-badge-green">独立卫生间</span>
						<span class="mui-badge mui-badge-danger">免费停车场</span>
						<span class="mui-badge mui-badge-purple">独立厨房</span>
						<span class="mui-badge mui-badge-green">精装修</span>
						<span class="mui-badge mui-badge-danger">交通方便</span>						
					</div>
				</div>
				<div class="mui-card-footer" style="font-size: 20px;">
					<label>月租金:&nbsp;<span style="color: red;">￥999</span></label>				
				</div>
			</div>	 -->	
		</div>
		
		<!-- 主体内容区渲染模板 -->
		<script id="test1" type="text/html">					
			{{each list house house_index}}
				<div class="mui-card" data-index="{{house_index}}">
					<div class="mui-card-header" style="font-size: 20px;"><span>{{house.publisher}}</span><p>发布于 {{house.publish_time}}</p></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							{{if house.imglist.length>0}}
								<img src="{{house.imglist[0]}}" style="width: 100%;">	
							{{/if}}
							<!-- 显示房屋标签，相邻的标签显示不同颜色（样式） -->
							{{each house.taglist tag tag_index}}
								{{if tag_index%5===0}}
									{{set classname='mui-badge-purple'}}
								{{else if tag_index%5===1}}
									{{set classname='mui-badge-blue'}}
								{{else if tag_index%5===2}}
									{{set classname='mui-badge-green'}}
								{{else if tag_index%5===3}}
									{{set classname='mui-badge-danger'}}
								{{else if tag_index%5===4}}
									{{set classname='mui-badge-primary'}}						
								{{/if}}
								<span style="font-size: 15px;" class="mui-badge {{classname}}">{{tag}}</span>				
							{{/each}}
						</div>
						<div class="mui-card-content-inner">
							<span class="mui-icon mui-icon-location" style="font-size: 15px;">{{house.house_address}}</span>
						</div>
					</div>
					<div class="mui-card-footer" style="font-size: 20px;">
						<label>月租金:&nbsp;<span style="color: red;">￥{{house.price_monthly}}</span></label>
						<!-- <span class="mui-icon mui-icon-star"></span> -->
					</div>
				</div>
			{{/each}}
		</script>
	</body>

</html>
